include ./includes/default

block StyleContent
    style(is="custom-style", include="app-theme").
        body {
            background: var(--bright-primary-color, #005B82);
        }
        div#background {
            background: var(--primary-color-background);
        }

block BodyContent
    neon-animated-pages#PageSelector.fullbleed(hidden, selected-attribute="active")
        //- LABEL SELECTION PAGE
        select-page.fullbleed()
            each Label in config.labels
                radio-button-element.labelButton(label!= Label)
                    != Label
        //- MAIN-PAGE
        main-page.fullbleed(animatable!= (!mobile), reproduce, notify, open-on-select, no-auto-removal-exceeding-elements, native-notifications)
            //- TABS
            each Label in config.labels
                tab-element.label(data-label!= Label)
                    != Label

            //- Elements for TOOLBAR
            flex-container.toolbar-footer(animatable!= (!mobile))
              sign-element(animatable!= (!mobile))
              table-element()
            svg-element.toolbar-footer(initially-zoom-to-selected)

            //- GROUPINGKEY SELECTORS
            each Label in config.labels
                iron-selector.groupingKeySelector(data-label!= Label, attr-for-selected= "groupingkey", selected-attribute= "checked", selected!= config.preferedGroupingKeys[Label], fallback-selection!= config.preferedGroupingKeys[Label], activate-event="change")
                    each GroupingKey in config.groupingKeys[Label]
                        radio-button-element.lightcontext.groupingKey(groupingkey!= GroupingKey)
                            != GroupingKey

            //- PANELS
            each Label, I in config.labels
                panel-page.panel(data-label!= Label, animatable!= (!mobile))
                    each Subgroup, Name in config.groups[Label][config.preferedGroupingKeys[Label]]
                        group-card(title= Name,
                            svg= JSON.stringify(Subgroup.svg),
                            no-select-notify, notify, open-on-exceed)
                            each Id, i in Subgroup.ids
                                if (config.elements[Label][Id])
                                    sign-element(data-label!= Label,
                                        data-id!= Id,
                                        is-boolean!= config.elements[Label][Id].isBoolean,
                                        unit!= config.elements[Label][Id].unit,
                                        data-keys= JSON.stringify(config.elements[Label][Id].keys),
                                        svg= JSON.stringify(config.elements[Label][Id].svg),
                                        grouped-key!= config.preferedGroupingKeys[Label],
                                        show-date!= (!mobile),
                                        color!= config.elements[Label][Id].color,
                                        bubbles,
                                        exceedable!= config.elements[Label][Id].exceedable,
                                        selectable,
                                        tooltip,
                                        vertical)
